[program:menudigi-scheduler]
command=php __BACKEND_PATH__/artisan schedule:work
directory=__BACKEND_PATH__
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
user=__DEPLOY_USER__
redirect_stderr=true
stdout_logfile=__BACKEND_PATH__/storage/logs/scheduler.log
stopwaitsecs=60
